
.timesheet {
    letter-spacing:normal;
	width:100%;
	height:initial;
	min-height:100px;
	margin: 0 auto 20px auto;
}

.timesheet {
	box-sizing: border-box;
	font-family: Verdana;
	border-top: 1px solid rgba(250,250,250,0.5);
	border-bottom: 1px solid rgba(60, 60, 60, 0.3);
	background-color: #333333;
	position: relative;
}

.timesheet.color-scheme-default .bubble-default {
	background-color: RGBA(252, 70, 74, 1);
}

.timesheet.color-scheme-default .bubble-lorem {
	background-color: RGBA(154, 202, 39, 1);
}

.timesheet.color-scheme-default .bubble-ipsum {
	background-color: RGBA(60, 182, 227, 1);
}

.timesheet.color-scheme-default .bubble-dolor {
	background-color: RGBA(244, 207, 48, 1);
}

.timesheet.color-scheme-default .bubble-sit {
	background-color: RGBA(169, 105, 202, 1);
}

.timesheet.color-scheme-alternative .bubble-default {
	background-color: #f3552e;
}

.timesheet.color-scheme-alternative .bubble-lorem {
	background-color: #88c33a;
}

.timesheet.color-scheme-alternative .bubble-ipsum {
	background-color: #436ae0;
}

.timesheet.color-scheme-alternative .bubble-dolor {
	background-color: #f4d234;
}

.timesheet.color-scheme-alternative .bubble-sit {
	background-color: #707d86;
}

.timesheet .scale {
	width:100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	float: left;
}

.timesheet .scale section {
	float: left;
	width: 59px;
	text-align: center;
	color: rgba(250,250,250,0.8);
	font-size: 13px;
	line-height: 24px;
	font-weight: 600; /**************************************************/
	height: 100%;
}

.timesheet .line{
	display: none;
	height: 100%;
	position:absolute;
	width:100%;
	height: 100%;
}

.timesheet .line section{
	position:relative;
	top:2px;
	height:100%;
	width:1%;
}

.timesheet .line section:after{
	color: #00F;
	font-size: 12px;
	line-height: 5px;
	left:-5px;
    top:-8px;
	position: relative;
}
.timesheet .line div{
	border-left:1px solid blue;
	height:100%;
}

.timesheet div.scale section div{
	border-left: 1px dashed rgba(250,250,250,0.5);
	height:100%;
}

.timesheet .data {
	margin: 28px 0 5px 0;
	padding: 0;
	text-align: left;
	list-style-type: none;
	color: rgba(250,250,250,0.8);
	font-family: Verdana;
	font-size: 13px;
	overflow: hidden;
}

.timesheet .data li {
	margin: 0 0 3px 0;
	line-height: 16px;
	height: 25px;
	display: block;
	cursor: pointer;
	clear: both;
	position: relative;
	white-space: nowrap;
}

.timesheet .data li:hover .bubble {
	opacity: 1;
}

.timesheet .data li .segment{
	position:absolute;
	width:100%;
}

.timesheet .data li .label,
.timesheet .data li .date {
	font-weight: lighter;
	line-height:0;
	height:16px;
	font-size: 12px;
	padding-left:5px;
	white-space: nowrap;
}

.timesheet .data li .date {	color: #b5b5b5; }

.timesheet .data li .label { color: #979796; }

.timesheet .data li .bubble {
	width: 24px;
	height: 7px;
	display: block;
	float: left;
	position: relative;
	top: 0px;
	border-radius: 4px;
	margin: 0 10px 0 0;
	opacity: 0.7;
	line-height:7px;
}

#timesheet-alternative {
	background-color: RGBA(247, 247, 247, 1);
	border-radius: 5px;
}

#timesheet-alternative section {
	color: RGBA(63, 68, 72, 1);
	border-left: 1px dashed RGBA(63, 68, 72, 0.2);
}

#timesheet-alternative section:first-child {
	border-left: 1px dashed transparent;
}

#timesheet-alternative .date {
	display: none;
}

#timesheet-alternative .bubble {
	margin-right: 7px;
}

#timesheet-alternative .label {
	padding-left: 0px;
	color: RGBA(48, 48, 48, 1);
}


.timesheet.white {
	border-top: 1px solid rgba(60,60,60,0.3);
	background-color: #fbfbfb;
}
/*
.timesheet.color-scheme-default.white  .bubble-default {
	background-color: RGBA(252, 70, 74, 1);
}

.timesheet.color-scheme-default.white  .bubble-lorem {
	background-color: RGBA(154, 202, 39, 1);
}

.timesheet.color-scheme-default.white  .bubble-ipsum {
	background-color: RGBA(60, 182, 227, 1);
}

.timesheet.color-scheme-default.white  .bubble-dolor {
	background-color: RGBA(244, 207, 48, 1);
}

.timesheet.color-scheme-default.white .bubble-sit {
	background-color: RGBA(169, 105, 202, 1);
}

.timesheet.color-scheme-alternative.white .bubble-default {
	background-color: #f3552e;
}

.timesheet.color-scheme-alternative.white .bubble-lorem {
	background-color: #88c33a;
}

.timesheet.color-scheme-alternative.white .bubble-ipsum {
	background-color: #436ae0;
}

.timesheet.color-scheme-alternative.white .bubble-dolor {
	background-color: #f4d234;
}

.timesheet.color-scheme-alternative.white .bubble-sit {
	background-color: #707d86;
}
*/

.timesheet.white .scale section div {
	color: rgba(50,50,50,0.8);
	border-left: 1px dashed rgba(50,50,50,0.1);
}

.timesheet.white .data {
	color: rgba(250,250,250,0.8);
}

.timesheet.white .data li .date,
.timesheet.white .mdata li .date {
	color: #797979;
}

.timesheet.white .data li .label,
.timesheet.white .mdata li .label {
	color: #333332;
}


/* Mobile */
.timesheet .mdata{
	margin:10px 0 0 0;
	display:none;
}

.timesheet .mdata li{
	display:table-row;
}

.timesheet .mdata li .dates .date { display:block; }

.timesheet .mdata li .label{
	border-top: 4px solid grey;
	display:table-cell;
	font-size: 14px;
	padding:0 0 15px 0;
}

.timesheet .mdata li .dates {
	border-top: 4px solid grey;
	text-align: center;
	display:table-cell;
	font-size: 12px;
	padding:0 0 15px 0;
}


@media screen and (max-width: 499px) {
	.timesheet .data li .bubble,
	.timesheet .line,
	.timesheet .scale,
	.timesheet .data { display: none; }

	.timesheet .mdata{
		display:table;
		width:100%;
		padding:0;
	}
}
@media screen and (max-width: 349px) {
	.timesheet .mdata > *{
		display:block;
		width:100%;
	}

	.timesheet .mdata li .label{
		text-align: center;
		display:block;
		width:100%;
		padding-bottom:5px;
	}
	.timesheet .mdata li .dates {
		border: 0;
		display:block;
		width:100%;
	}

}

.timesheet .mdata .label.default ,
.timesheet .mdata .dates.default {
  border-color: #FC464A;
}

.timesheet .mdata .label.lorem ,
.timesheet .mdata .dates.lorem {
  border-color: #9ACA27;
}

.timesheet .mdata .label.ipsum ,
.timesheet .mdata .dates.ipsum {
  border-color: #3CB6E3;
}

.timesheet .mdata .label.dolor,
.timesheet .mdata .dates.dolor {
  border-color: #F4CF30;
}

.timesheet .mdata .label.sit,
.timesheet .mdata .dates.sit {
  border-color: #707d86;
}

